body {
  background-color: #759fd6;
}

main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin-inline: auto;
  margin-top: 1.5rem;

  width: 50%;

  max-height: max-content;
  min-width: max-content;

  background-image: url(../assets/images/wall.png);
}

nav {
  display: flex;
  flex-direction: row;

  padding: 0.5rem;
  border-bottom: 0.2rem #ffd700 solid;
  justify-content: space-around;

  background-color: #000000;
}

div > h2 {
  color: #ffffff;
  margin: 0.5rem;
  font-size: 1rem;
}

div > h2:nth-child(1) {
  color: #ff0000;
  font-size: 1rem;
}

nav > div > h2 {
  display: flex;
  flex-direction: row;
}

.painel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: min-content;
  margin: 1.5rem 1rem 0.9rem;
}
.painel-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin: 1rem 0.5rem 0;
}

.window {
  background-color: #759fd6;
  height: 10rem;
  width: 10rem;

  margin-inline: 0.8rem;
  border: solid 15px #fdfeff;
}
.enemy {
  background-image: url(../assets/images/ralph.png);
  background-size: cover;
  background-color: #ff0000;
}
